<div class="pageheader hidden-xs">
    <h2 class="text-uppercase" id="taq-nombre"></h2>
</div>
<div id="news"></div>
<script>
    var loc = location.href;
    var news = $('#news');
    var url = "http://srq.com.ve/noticias.php";
    if (loc.indexOf("/animalitos/")>-1 || loc.indexOf("animalitos.")>-1) {
        $.ajax(url,{s:"animalitos"}, function (res) {
            console.log(res);
        });
    }
    $.ajax(url,{data:{s:"animal"}}).done(function (res) {
        news.html(res);
        activateMinClose();
    });

    function activateMinClose() {
        var heading = jQuery('.panel-heading');
        heading.attr("title","Click para expandir y/o contraer panel");
        heading.click(function(){
            var t = jQuery(this).find('.minnew');
            var p = t.closest('.panel');
            if(!t.hasClass('maximize')) {
                p.find('.panel-body, .panel-footer').slideUp(200);
                t.addClass('maximize');
                t.html('&plus;');
            } else {
                p.find('.panel-body, .panel-footer').slideDown(200);
                t.removeClass('maximize');
                t.html('&minus;');
            }
            return false;
        });
        // Close Button in Panels

        jQuery('.closenew').click(function(){
            jQuery(this).closest('.panel').fadeOut(200);
            return false;
        });
    }
</script>
<div class="panel">
    <div class="panel-body">
        <div class="row taq-top-menu">
            <div class="col-md-3 col-sm-6">
                <button class="btn btn-default btn-block" id="vnt-ultimo" ><i class="fa fa-print"></i> ULTIMO TICKET
                    [<span id="tk-last"><i class="fa fa-cloud-download"></i></span>]
                </button>
            </div>
            <div class="col-md-3 col-sm-6">
                <button class="btn btn-lightblue btn-block" data-target="#md-ticket" data-toggle="modal"><i
                        class="fa fa-search"></i> TICKET
                </button>
            </div>
            <div class="col-md-3 col-sm-6">
                <button class="btn btn-default btn-block" id="vnt-dia"><i class="fa fa-bar-chart"></i> VENTAS DEL DIA
                </button>
            </div>
            <div class="col-md-3 col-sm-6">
                <button class="btn btn-maroon btn-block" data-target="#md-anularTicket" data-toggle="modal"><i
                        class="fa fa-remove"></i> ELIMINAR VENTA
                </button>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="panel">
                <div class="panel-body">
                    <form id="vnt-venta" class="mb15">
                        <div class="form-group">
                            <label>Sorteos</label>
                            <select class="s2a form-control" id="vnt-sorteos" multiple="multiple" name="sorteos" required></select>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>Numero</label>
                                    <input class="form-control" name="numero" id="vnt-numeros" autocomplete="off"
                                           required onkeypress="return restrictCharacters(this,event,ventaOnly);">
                                </div>
                                <div class="col-sm-offset-2 col-sm-5">
                                    <label>Monto</label>
                                    <input class="form-control" id="vnt-monto" name="monto" type="number" min="0.01" max="999999" step="any" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="form-group hidden" id="fg-zodiaco">
                            <label>Zodiacos</label>
                            <select class="s2a form-control" id="vnt-zodiaco" multiple="multiple" name="zodiaco"></select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-darkblue btn-block"><i class="fa fa-plus"></i> AGREGAR</button>
                        </div>
                    </form>
                    <form id="repetir">
                        <div class="input-group">
						  <span class="input-group-btn">
							<button type="submit" class="btn btn-info"><i class="fa fa-refresh"></i> REPETIR JUGADA
                            </button>
						  </span>
                            <input type="text" name="ticketID" class="form-control" required autocomplete="off"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="btn-group btn-group-justified mt10">
                <div class="btn-group" id="print-group">
                    <button id="vnt-btn" class="btn btn-success"><span id="printbtn"><i class="fa fa-print"></i> IMPRIMIR</span> <strong class="text-x">[<span id="vnt-total">0.00</span>]</strong></button>
                </div>
                <div class="btn-group">
                    <button id="vnt-clr" class="btn btn-danger"><i class="fa fa-trash"></i> CANCELAR</button>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead class="hidden-xs">
                            <tr>
                                <th></th>
                                <th>Numero</th>
                                <th>Monto</th>
                                <th>Sorteo</th>
                            </tr>
                            </thead>
                            <tbody id="vnt-cesta"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!--panel-->

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
     id="md-repetir">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                <h4 class="modal-title">Repetir Jugada</h4>
            </div>
            <div class="modal-body">
                <!--<div class="row">-->
                    <!--<div class="col-sm-6 col-sm-offset-3">-->
                        <!--<div class="btn-group-justified">-->
                            <!--<div class="btn-group">-->
                                <!--<button class="btn btn-darkblue" id="rpt-minus"><i class="fa fa-chevron-down"></i></button>-->
                            <!--</div>-->
                            <!--<div class="btn-group">-->
                                <!--<button class="btn btn-darkblue" id="rpt-plus"><i class="fa fa-chevron-up"></i></button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="row">
                    <div class="col-sm-3"><strong>NUMERO</strong></div>
                    <div class="col-sm-6"><strong>SORTEO</strong></div>
                    <div class="col-sm-3"><strong>MONTO</strong></div>
                </div>
                <form id="vnt-repetir">

                </form>
            </div>
            <div class="modal-footer">
                <span class="pull-left"><a href="javascript:alert('PROXIMAMENTE!');" target="_blank"><i class="fa fa-question-circle fa-2x"></i><i style="vertical-align: super;">&iquest;Como repetir un ticket?</i></a> </span>
                <button form="vnt-repetir" class="btn btn-darkblue">CONFIRMAR</button>
            </div>
        </div>
    </div>
</div>

<span id="bot"></span>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sendModalLabel" aria-hidden="true" id="md-srqag">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                <h4 class="modal-title">Agenda</h4>
            </div>
            <div class="modal-body">
                <select class="s2 form-control" id="srag-input">
                    <option value=""></option>
                </select>
                <a class="text-danger pull-right mt-5" href="#rem" id="srqag-rem"><i class="fa fa-trash"></i> Remover</a>
                <p class="help-block"><i>Presione la tecla de impresion para confirmar</i></p>
                <p class="help-block"><i>Presione + para saltar a registrar nuevo cliente.</i></p>
                <hr/>
                <form class="form-inline" id="srqag-nuevo">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre o apodo" name="nombre" id="srqag-nombre" required>
                    </div>
                    <div class="form-group" id="srqag-mailg">
                        <input type="text" class="form-control" placeholder="Correo/Telefono" name="valor" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Nuevo </button>
                    </div>
                    <div class="form-group col-sm-offset-4 hidden srqag-ferror" id="srqag-to">
                        <p class="text-danger">Correo/Telefono invalido</p>
                    </div>
                    <div class="form-group col-sm-offset-4 hidden srqag-ferror" id="srqag-existeh">
                        <p class="text-danger">Correo/Telefono ya esta registrado</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-darkblue" id="md-enviar-ok"><i class="fa fa-check"></i> Confirmar</button>
                <button class="btn btn-danger" aria-hidden="true" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<script type="text/x-jsrender" id="rd-sorteo-check">
    <div class="ckbox ckbox-default">
        <input type="checkbox" value="1" id="checkboxDefault1">
        <label for="checkboxDefault1"><span class="text-primary"><strong>{{:#index}}</strong></span> <span
                class="text-success">{{:~formatDate(cierra,'h:MM TT')}}</span></label>
    </div>
</script>
<script type="text/x-jsrender" id="rd-sorteo-option">
    <option value="{{:sorteoID}}">{{:#index}} {{:descripcion}}</option>
</script>
<script type="text/x-jsrender" id="rd-cesta-row">
    <tr>
        <td><span class="cesto-indice">{{:#index+1}}</span> <a class="rem-cesto" href="#remover" indice="{{:#index}}"><i class="fa fa-trash"></i> </a></td>
        <td>{{:~pleno(numero)}}</td>
        {{if tpte}}
        <td><span class="label label-warning"><i class="fa fa-warning"></i> {{:monto}}</span></td>
        {{else}}
        <td><label class="label label-success ncono" datan="{{:~formatn(monto,2,'.','')}}">{{:~formatn(monto,2)}}</label></td>
        {{/if}}
        <td>{{:~sorteo(sorteoID)}}</td>
    </tr>
</script>
<script type="text/x-jsrender" id="rd-repetir">
    {{if h==1 }}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="btn-group-justified">
                <div class="btn-group">
                    <button type="button" class="btn btn-darkblue rpt-minus btn-sm" sorteo="{{:sorteoID}}"><i class="fa fa-minus"></i></button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-darkblue rpt-plus btn-sm" sorteo="{{:sorteoID}}"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
        </div>
    {{/if}}
    <div class="form-group">
        <div class="col-sm-3">
            <div class="input-group">
                <span class="input-group-addon">#</span>
                <input class="form-control" name="numero" value="{{:~num(numero)}}" readonly>
            </div>
        </div>
        <div class="col-sm-6">
            <select id="srpt{{:sorteoID}}{{:#index}}" class="s2b form-control s2sorteos rptsorteo srt{{:sorteoID}}" name="sorteo" required></select>
        </div>
        <div class="col-sm-3">
            <input class="form-control" name="monto" type="number" min="0.01" step="any" value="{{:monto}}">
        </div>
    </div>
</script>
<script type="text/x-jsrender" id="print-select">
    <div class="btn-group" style="margin-top:10px; width: 100%;">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" id="printbtn">
            <span id="print-label">Elegir</span> <strong class="text-x">[<span class="ncono" datan="{{:~formatNumber(0,2,'.','t')}}" id="vnt-total">0.00</span> <i class="fa fa-money"></i>]</strong> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a id="print-paper" href="#imprimir"><i class="fa fa-print"></i> Imprimir</a></li>
            <li><a id="print-mail" href="#correo"><i class="fa fa-envelope"></i> Correo</a></li>
            <li><a id="print-sms" href="#sms"><i class="fa fa-phone"></i> SMS</a></li>
            <li><a id="print-pdf" href="#pdf"><i class="fa fa-file"></i> PDF</a></li>

        </ul>
    </div>
</script>

<script type="text/x-jsrender" id="rd-zodiaco-option">
    <option value="{{:zID}}">{{:desc}}</option>
</script>