<div class="pageheader mb10">
    <h2><i class="fa fa-home"></i> Panel de Control</h2>
</div>
<div class="panel bl-preg panel-dark" id="bl-my">
    <div class="panel-heading">
        <div class="panel-btns">
            <a href="" class="minimize maximize">+</a>
        </div>
        <h3 class="panel-title">Mi Balance | <i class="fa fa-dollar"></i> <span id="bl-my-total">0.00</span></h3>
    </div>
    <div class="panel-body" style="display: none;">
        <div class="table-responsive">
            <table id="tb" class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>REF</th>
                    <th>FECHA</th>
                    <th>DESCRIPCION</th>
                    <th>Monto</th>
                    <th>Balance</th>
                </tr>
                </thead>
                <tbody id="reporte-body"></tbody>
            </table>
        </div>
    </div>
</div>
<!--<div class="panel panel-danger">
    <div class="panel-heading heading-condensed"><span class="panel-title">AVISO IMPORTANTE</span></div>
    <div class="panel-body">
        <h3>Estimado usuario, el equipo SRQ le notifica que esta prohibida la publicación del sistema por medios públicos (Mercadolibre, Youtube) sin previa autorización de su administrador. El incumplimiento de la misma incurrirá en la suspensión del servicio.</h3>
    </div>
</div>-->
<div class="panel">
    <div class="panel-heading hidden-xs">
        <div class="panel-title">SORTEOS DEL DIA</div>
    </div>
    <div class="panel-body" id="inicio-sorteodia">
        <div style="margin: auto; width: 50%; text-align: center;">
            Presionar la nube para mostrar reporte rapido<br>
            <button id="btnload" class="btn-link"><i class="fa fa-cloud-download fa-4x"></i></button>
        </div>
    </div>
</div>
<!--<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info widget-messaging">
            <div class="panel-heading heading-condensed"><span class="panel-title">AVISOS</span></div>
            <div class="panel-body">
                <ul>
                    <li>
                        <small class="pull-right label label-success">31 Octubre, 2017</small>
                        <h4 class="sender">NUEVO SORTEO, LA GRANJITA <a class="btn btn-success btn-xs" href="#sorteos/publicar">Activar aqui</a> </h4>
                        <span>Sitio web: <a href="http://lagranjitaonline.com" target="_blank"><i class="fa fa-link"></i>LaGranjita</a></span>
                    </li>
                    <li>
                        <small class="pull-right label label-success">10 Septiembre, 2017</small>
                        <h4 class="sender">NUEVO SORTEO, LOTERIA ACTIVA <a class="btn btn-success btn-xs" href="#sorteos/publicar">Activar aqui</a> </h4>
                        <span>Twitter: <a href="https://twitter.com/loteriactiva?lang=es" target="_blank">@loteriactiva</a>, Facebook: <a href="https://facebook.com/LoteriActiva/" target="_blank">LoteriActiva</a> </span>
                    </li>
                    <li>
                        <small class="pull-right label label-success">10 Septiembre, 2017</small>
                        <h4 class="sender">NUEVO SORTEO, RULETA ACTIVA ORIENTE <a class="btn btn-success btn-xs" href="#sorteos/publicar">Activar aqui</a> </h4>
                        <span>Sorteo oficial de la Loteria de Oriente, Edo. Monagas</span>
                    </li>
                    <li>
                        <small class="pull-right label label-success">26 Enero, 2017</small>
                        <h4 class="sender">NUEVO SORTEO, FRUTA ACTIVA <a class="btn btn-success btn-xs" href="#sorteos/publicar">Activar aqui</a> </h4>
                        <span>Sorteo oficial de la Ruleta Activa</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>-->

<script type="text/x-jsrender" id="rd-sorteos-dia1-row">
    <tr>
        {{if desc}}
            <td>{{:desc}}</td>
        {{else}}
            <td>TOTAL</td>
        {{/if}}
        <td>{{:~ganador(ganador,0)}}</td>
        <td>{{:~formatNumber(jugado,0)}}</td>
        <td>{{:~formatNumber(pago,0)}}</td>
        <td>{{:~formatNumber(jugado-pago,0)}}</td>
    </tr>
</script>
<script type="text/x-jsrender" id="rd-sorteos-dia2-row">
    <tr>
        {{if desc}}
            <td>{{:desc}}</td>
        {{else}}
            <td>TOTAL</td>
        {{/if}}
        <td>{{:~ganador(ganador)}}</td>
        <td>{{:~formatNumber(jugado,0)}}</td>
        <td>{{:~formatNumber(premios,0)}}</td>
        <td>{{:~formatNumber(jugado-premios,0)}}</td>
    </tr>
</script>
<script type="text/x-jsrender" id="rd-pnlsorteo">
    <div class="table-responsive">
            <table class="table table-bordered mb30">
                <thead>
                <tr>
                    <th>Sorteo</th>
                    <th>Ganador</th>
                    <th>Jugado</th>
                    <th id="prm-col"><a href="#">Premios</br>a pagar</a></th>
                    <th>Balance</th>
                </tr>
                </thead>
                <tbody id="srt_dia">
                    <tr>
                        <td><i class="fa fa-spinner fa-spin"></i> Espere.. cargando.</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- table-responsive -->
        <label class="pull-right" >Actualizado a las <span id="str-dia-stamp">--</span></label>
</script>
<script type="text/x-jsrender" id="rd-reporte-us">
    <tr>
        <td>{{:~padding(balID,4)}}</td>
        <td>{{:fecha}}</td>
        <td>{{:desc}}</td>
        <td>{{:~formatNumber(monto,2)}}</td>
        <td>{{:~formatNumber(balance,2)}}</td>
    </tr>
</script>