<div class="pageheader hidden-xs">
    <h2><i class="fa fa-area-chart"></i> Reporte Cobros</h2>
</div>
<div class="panel">
    <div class="panel-body">
        <form class="form-horizontal" id="reporte">
            <div class="form-group">
                <label class="col-sm-3 control-label">Fecha</label>
                <div class="col-sm-3">
                    <input class="date now form-control" onfocus="blur()" id="reporte-fecha1" name="inicio">
                </div>
                <div class="col-sm-3">
                    <input class="date now form-control" onfocus="blur()" id="reporte-fecha2" name="fin">
                </div>
                <div class="help-block" id="reporte-hlp"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Agrupar</label>
                <div class="col-sm-6">
                    <select class="s2 form-control" id="rp-agrupar">
                        <option value="3">COMERCIALES</option>
                        <option value="1">FECHA</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <button type="submit" class="btn btn-darkblue btn-block"><i class="fa fa-search"></i> BUSCAR</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="panel panel-success panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-8">
                            <small class="stat-label">Jugado</small>
                            <h1 id="mnt-jugado" class="clr">--</h1>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">Premios</small>
                            <h4 id="mnt-premios" class="clr">--</h4>
                        </div>
                    </div><!-- row -->
                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->

    <div class="col-sm-4 col-md-4">
        <div class="panel panel-danger panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-12">
                            <small class="stat-label">MAYOR RENTA</small>
                            <h2 id="tj-banca" class="clr">--</h2>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">Jugado</small>
                            <h4 id="tj-jugada" class="clr">--</h4>
                        </div>
                    </div><!-- row -->

                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->

    <div class="col-sm-4 col-md-4">
        <div class="panel panel-primary panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">Total Renta</small>
                            <h2 id="renta" class="clr">--</h2>
                        </div>
                    </div><!-- row -->
                    <div class="mb15"></div>
                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->
</div>
<div class="panel">
    <div class="panel-body">
        <div class="table-responsive">
            <table id="tb" class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th></th>
                    <th><a href="#" id="rtp-desc-o">FECHA / BANCA</a> </th>
                    <th>JUGADO</th>
                    <th>% COMISION</th>
                    <th>RENTA</th>
                </tr>
                </thead>
                <tbody id="reporte-body"></tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <div class="col-md-3">
            <button id="cbr-procesar" class="btn btn-darkblue btn-block"><i class="fa fa-paypal"></i> PROCESAR TODO</button>
        </div>
        <div class="col-md-3">
            <input type="number" id="minValor" class="form-control" placeholder="Cobro Minimo" >
        </div>
    </div>
</div>
<script type="text/x-jsrender" id="rd-reporte">
    {{if uID}}
    <tr id="u{{:uID}}" class="rc-usrow subrow{{:cID}} hidden">
    {{else cID}}
    <tr id="c{{:cID}}" class="rc-cmrow">
    {{else}}
    <tr>
    {{/if}}
        <td width="140px">
            <div class="btn-group">
                <button class="btn btn-xs btn-maroon cbr-shutdown" href="#"><i class="fa fa-power-off"></i></button>
                {{if uID}}
                {{if cm>0}}
                <button class="btn btn-xs btn-danger cbr-disable" usID="u{{:uID}}" href="#"><i class="fa fa-remove text-danger"></i></button>
                <button id="cbrbal-u{{:uID}}" class="btn btn-xs cbr-bal cbr-bal-act" desc="V:{{:~formatNumber(jg)}}, C:{{:~abs(cm*100)}}" usID="u{{:uID}}" monto="{{:(jg*cm)}}" href="#"><i class="fa fa-paypal text-success"></i></button>
                {{/if}}
                <button class="btn btn-xs cbr-edit" href="#bancas/banca|{{:uID}}"><i class="fa fa-user text-success"></i></button>
                {{else}}
                {{if cm>0}}
                <button class="btn btn-xs btn-danger cbr-disable" usID="c{{:cID}}" href="#"><i class="fa fa-remove"></i></button>
                <button id="cbrbal-c{{:cID}}" class="btn btn-xs cbr-bal cbr-bal-act" desc="V:{{:~formatNumber(jg)}}, C:{{:~abs(cm*100)}}" usID="c{{:cID}}" monto="{{:(jg*cm)}}"><i class="fa fa-paypal"></i></button>
                {{/if}}
                <button class="btn btn-xs cbr-edit" href="#bancas/comercial|{{:cID}}"><i class="fa fa-user"></i></button>
                {{/if}}
            </div>
        </td>
        <td class="text-uppercase rpdesc">
            <a href="#reporte/cobros-comercial|{{:cID}}{{:~rgFiltro()}}">{{:desc}}</a>
            {{if !uID && cm==0}}
            <a fld="0" fldid="{{:cID}}" class="cbr-folder" href="#"><i id="cbrfi{{:cID}}" style="color:darkgrey;" class="fa fa-folder-o"></i></a>
            {{/if}}
        </td>
        <td>{{:~formatNumber(jg,2)}}</td>
        <td>{{:~formatNumber(cm*100,1)}}</td>
        <td id="rnt{{:cID}}">{{:~formatNumber(jg*cm,2)}}</td>
    </tr>
</script>