<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="loteria,animales,srq,software,ventas">
  <meta name="author" content="srq">
  <title>SRQ Grupo</title>

  <link href="../theme/css/style.default.css" rel="stylesheet">
  <link href="../theme/css/jquery.gritter.css" rel="stylesheet">
  <link rel="stylesheet" href="../theme/css/bootstrap-wysihtml5.css" />
  <link href="./css/custom.css" rel="stylesheet">

  <!-- v181031 -->
  <!--[if lt IE 9]>
    <script src="../theme/js/html5shiv.js"></script>
    <script src="../theme/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <!-- Preloader -->
  <div class="preloader" id="conectando">
    <div class="status">
      <span>Conectando</span>
      <i class="fa fa-cog fa-spin"></i>
    </div>
  </div>
  <div class="preloader" id="preloader">
    <div class="status">
      <span>Cargando</span>
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>

  <section>

    <div class="leftpanel hidden-print">

      <div class="logopanel">
        <a id="logolink" href="#" title="Click para forzar actualizaci&oacute;n.">
          <h1><span>[</span> Grupo <span>]</span></h1><span class="label label-default"> v@verStamp </span>
        </a>
      </div><!-- logopanel -->

      <div class="leftpanelinner">

        <!-- This is only visible to small devices -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
          <div class="media userlogged">
            <img alt="" src="../theme/images/photos/loggeduser.png" class="media-object">
            <div class="media-body">
              <h4 class="mn-usuario">Usuario</h4>
            </div>
          </div>

          <h5 class="sidebartitle actitle">Cuenta</h5>
          <ul class="nav nav-pills nav-stacked nav-bracket mb30">
            <li><a href="profile.html"><i class="fa fa-user"></i> <span>Usuario</span></a></li>
            <li><a href="#config"><i class="fa fa-cog"></i> <span>Configuracion</span></a></li>
            <li><a href=""><i class="fa fa-question-circle"></i> <span>Ayuda</span></a></li>
            <li><a class="logout" href="#cerrar"><i class="fa fa-sign-out"></i> <span>Cerrar
                  Sesi&oacute;n</span></a></li>
          </ul>
        </div>

        <h5 class="sidebartitle">NAVEGADOR</h5>
        <ul class="nav nav-pills nav-stacked nav-bracket">
          <li class="active"><a href="#"><i class="fa fa-dashboard"></i> <span>Panel de Control</span></a>
          </li>
          <li class="nav-parent"><a href=""><i class="fa fa-money"></i> <span>Sorteos</span></a>
            <ul class="children">
              <li><a href="#sorteos/monitor"><i class="fa fa-area-chart"></i> <span>Monitor</span></a>
              </li>
              <li><a href="#sorteos/buscar"><i class="fa fa-search"></i> <span>Buscar</span></a></li>
              <li><a href="#sorteos/publicar"><i class="fa fa-globe"></i> <span>Publicar</span></a></li>
              <li><a href="#sorteos/premiar">
                  <span class="pull-right badge badge-success">Nuevo</span>
                  <i class="fa fa-envelope"></i> <span>Premiar</span></a>
              </li>
            </ul>
          </li>
          <li class="nav-parent"><a href=""><i class="fa fa-sitemap"></i> <span>Bancas</span></a>
            <ul class="children">
              <li><a href="#bancas/taquillas"><i class="fa fa-group"></i> <span>Taquillas</span></a></li>
              <li><a href="#bancas/topes"><i class="fa fa-money"></i> <span>Topes</span></a></li>
            </ul>
          </li>
          <li class="nav-parent"><a href=""><i class="fa fa-money"></i> <span>Tickets</span></a>
            <ul class="children">
              <li><a href="#ticket-buscar" data-target="#md-ticket" data-toggle="modal"><i class="fa fa-search"></i>
                  <span>Buscar</span></a></li>
              <li><a href="#ticket-anular" data-target="#md-anularTicket" data-toggle="modal">
                  <span class="pull-right badge badge-success">NUEVO</span>
                  <i class="fa fa-remove"></i> <span>Anular</span></a></li>
            </ul>
          </li>
          <li class="nav-parent"><a href=""><i class="fa fa-pagelines"></i> <span>Reportes</span></a>
            <ul class="children">
              <li><a href="#reporte/general"><i class="fa fa-desktop"></i> <span>General</span></a></li>
              <li><a href="#reporte/taquilla"><i class="fa fa-group"></i> <span>Taquilla</span></a></li>
              <li><a href="#reporte/sorteo"><i class="fa fa-random"></i> <span>Sorteo</span></a></li>
              <li><a href="#reporte/ventas"><i class="fa fa-random"></i> <span>Ventas</span></a></li>
              <li><a href="#reporte/diario">
                  <span class="pull-right badge badge-success">NUEVO</span>
                  <i class="fa fa-calendar-check-o"></i> <span>Diario</span></a>
              </li>
            </ul>
          </li>

          <li><a href="#conexiones"><i class="fa fa-plug"></i> <span>Conexiones</span></a></li>
        </ul>
      </div><!-- leftpanelinner -->
    </div><!-- leftpanel -->

    <div class="mainpanel">

      <div class="headerbar hidden-print">

        <a class="menutoggle"><i class="fa fa-bars"></i></a>

        <form class="searchform">
          <input type="text" class="form-control" name="busqueda" placeholder="Buscar aquí..." required />
        </form>

        <div class="header-right">
          <ul class="headermenu">
            <li>
              <div class="btn-group">
                <button class="btn btn-default tp-icon">
                  <i class="glyphicon glyphicon-user"></i>
                  <span class="badge" id="user-count">0</span>
                </button>
              </div>
            </li>
            <li>
              <div class="btn-group">
                <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-envelope"></i>
                  <span class="badge" id="msg-count">0</span>
                </button>
                <div class="dropdown-menu dropdown-menu-head pull-right">
                  <h5 class="title">Mensajes</h5>
                  <div id="mensajes-body"></div>
                  <!--<span class="new"><a href="#mensajes">Leer todos los mensajes</a></span>-->
                </div>
              </div>
            </li>
            <li>
              <div class="btn-group">
                <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-globe"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-head pull-right">
                  <h5 class="title">You Have 5 New Notifications</h5>
                  <ul class="dropdown-list gen-list">
                    <li class="new">
                      <a href="">
                        <span class="thumb"><img src="../theme/images/photos/user4.png" alt="" /></span>
                        <span class="desc">
                          <span class="name">Zaham Sindilmaca <span class="badge badge-success">new</span></span>
                          <span class="msg">is now following you</span>
                        </span>
                      </a>
                    </li>
                    <li class="new"><a href="">See All Notifications</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <img src="../theme/images/photos/loggeduser.png" alt="" />
                  <span class="mn-usuario">Usuario</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                  <li><a href="#config"><i class="glyphicon glyphicon-cog"></i> Configuración</a></li>
                  <li><a href="#405"><i class="glyphicon glyphicon-question-sign"></i> Ayuda</a></li>
                  <li><a class="logout" href="#cerrar"><i class="glyphicon glyphicon-log-out"></i>
                      Cerrar Sessión</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div><!-- header-right -->

      </div><!-- headerbar -->

      <div class="contentpanel">

      </div><!-- contentpanel -->

    </div><!-- mainpanel -->

  </section>
  <!--JSRENDER-->
  <script type="text/x-jsrender" id="rd-elemento-option">
    <option value="{{:id}}" class="text-uppercase">#{{:n}} {{:d}}</option>
</script>
  <script type="text/x-jsrender" id="rd-sorteo-option">
    <option value="{{:sorteoID}}" class="text-uppercase">{{:descripcion}}</option>
</script>
  <script type="text/x-jsrender" id="rd-sorteos-option">
    <option value="{{:sorteoID}}" class="text-uppercase">{{:nombre}}</option>
</script>
  <script type="text/x-jsrender" id="rd-usuario-option">
    <option value="{{:usuarioID}}" class="text-uppercase">{{:nombre}}</option>
</script>
  <script type="text/x-jsrender" id="rd-banca-option">
    <option value="{{:bancaID}}" class="text-uppercase">{{:nombre}}</option>
</script>
  <script type="text/x-jsrender" id="rd-taquilla-option">
    <option value="{{:taquillaID}}" class="text-uppercase">{{:nombre}}</option>
</script>
  <script type="text/x-jsrender" id="rd-premio-ticket">
    <tr><td>TICKET</td><td>{{:ticketID}}</td></tr>
    <tr><td>HORA</td><td>{{:hora}}</td></tr>
    <tr><td>MONTO</td><td>{{:monto}}</td></tr>
    <tr><td>ANULADO</td><td>
        {{if anulado==1}} SI {{else}} NO {{/if}}
    </td></tr>
</script>
  <script type="text/x-jsrender" id="rd-premio-premios">
    <tr>
        <td>#{{:numero}} {{:descripcion}}</td>
        <td>{{:sorteo}}</td>
        <td>{{:~formatNumber(monto,2)}}</td>
        <td>{{:~formatNumber(premio,2)}}</td>
        {{if pago}}
            <td>{{:~formatDate(pago,"dd/mm hh:MM TT")}}</td>
        {{else}}
            {{if premio>0}}
                <td><span class="label label-warning">PENDIENTE</span></td>
            {{else}}
                <td></td>
            {{/if}}
        {{/if}}
    </tr>
</script>
  <!--JSRENDER END-->

  <!--MODALS-->
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
    id="md-anularTicket">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
          <h4 class="modal-title">Anular Ticket</h4>
        </div>
        <div class="modal-body">
          <form id="vnt-anular">
            <div class="form-group">
              <div class="col-sm-8">
                <input type="number" min="1" max="999999999" step="any" name="ticketID" class="form-control"
                  id="md-anular-ticket" required>
              </div>
              <div class="col-sm-4">
                <input type="number" value="0" min="0" max="9999" step="any" name="codigo" class="form-control"
                  maxlength="4" id="md-anular-codigo" required>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-maroon btn-block"><i class="fa fa-remove"></i>
                ANULAR</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
    id="md-ticket">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
          <h4 class="modal-title">Buscar Ticket</h4>
        </div>
        <div class="modal-body">
          <form id="vnt-pagar">
            <div class="row">
              <div class="col-sm-8">
                <input type="number" min="1" max="999999999" step="any" name="ticketID" class="form-control"
                  id="md-pagar-ticket" required>
              </div>
              <div class="col-sm-4">
                <button type="submit" class="btn btn-lightblue btn-block"><i class="fa fa-search"></i>
                  BUSCAR</button>
              </div>
            </div>
          </form>
          <div id="md-pagar-premios" class="table-responsive">
            <table class="table table-hover table-condensed">
              <tbody id="md-pagar-tpremio"></tbody>
            </table>
          </div>
          <div id="md-pagar-prm" class="table-responsive">
            <table class="table table-hover table-condensed">
              <thead>
                <tr>
                  <th>#</th>
                  <th>sorteo</th>
                  <th>monto</th>
                  <th>premio</th>
                  <th>pago</th>
                </tr>
              </thead>
              <tbody id="md-pagar-prms"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--MODALS END-->

  <script src="../theme/js/jquery-1.11.1.min.js"></script>
  <script src="../theme/js/jquery-ui-1.10.3.min.js"></script>
  <script src="../theme/js/jquery-migrate-1.2.1.min.js"></script>
  <script src="../theme/js/bootstrap.min.js"></script>
  <script src="../theme/js/jquery.cookies.js"></script>
  <script src="../theme/js/toggles.min.js"></script>
  <script src="../theme/js/select2.min.js"></script>
  <script src="../theme/js/jquery.gritter.min.js"></script>
  <script src="../theme/js/wysihtml5-0.3.0.min.js"></script>
  <script src="../theme/js/bootstrap-wysihtml5.js"></script>
  <!--
<script src="../theme/js/jquery.sparkline.min.js"></script>
<script src="../theme/js/modernizr.min.js"></script>
<script src="../theme/js/retina.min.js"></script>
-->
  <script>
    var vrs = "@version";
  </script>
  <script src="../js/jsrender.min.js"></script>
  <script src="../js/srsocket.js?"></script>
  <script src="../js/srnav.js?"></script>
  <script src="../js/tools.js?"></script>
  <script src="../js/modal.js"></script>

  <script src="js/bracket.js?"></script>
  <script src="js/vars.js?@version"></script>
  <script src="js/navegador.js?@version"></script>
  <script src="js/main.js?@version"></script>

  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
    id="md-anuncios">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
          <h4 class="modal-title">Anuncios</h4>
        </div>
        <div class="modal-body">
          <h4>20.08.14</h4>
          <ul>
            <li>A partir de esta version se podra asignar comision y participacion por operadora a cada usuario,
              <ins>NOTA:
                En caso de no tener asignado una comision o participacion a una operadora especifica, el sistema seguira
                tomando el valor inicial
                que se asigna al registrar el usuario.</ins></li>
            <li>De momento solo el comercial podra asignar las comisiones, en los dias posteriores se extendera dicha
              funcion a las bancas</li>
            <li>Se ha modificado los reportes de comerciales y bancas para adaptarse a las nuevas necesidades
              administrativas, <ins>podrían haber variaciones en los valores mostrados antes de la actualizacion</ins>.
            </li>
            <li>SE RECOMIENDA CONSULTAR REPORTES Y VERIFICAR QUE LAS COMISIONES O PARTICIPACIONES COINCIDAN</li>
            <img src="/assets/200814_comision_info.png" class="img-responsive" />
            <li>Como se puede visualizar en la imagen dentro del recuadro <span style="color:red;">ROJO</span>, la
              comision se visualiza al lado izquierdo y la participacion a la derecha</li>
          </ul>
          <button onclick="no_volver_a_mostrar()" class="btn btn-default btn-success btn-block"
            style="color:white;">Entendido, no volver a
            mostrar</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    const version = 200814
    let ultVersion = parseFloat(localStorage.getItem('anuncio_vrs'))
    console.log(version > ultVersion, version, ultVersion);
    if (!ultVersion || version > ultVersion) {
      $('#md-anuncios').modal('show')
    }

    function no_volver_a_mostrar(params) {
      localStorage.setItem('anuncio_vrs', version)
      $('#md-anuncios').modal('hide')
    }
  </script>
</body>

</html>