<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="loteria,animales,animalitos">
    <meta name="author" content="">

    <meta http-equiv="Cache-Control" content="no-store" />

    <title>SRQ Taquilla</title>

    <link href="../theme/css/style.default.css" rel="stylesheet">
    <link href="../theme/css/jquery.gritter.css" rel="stylesheet">
    <link href="../taquilla/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../theme/js/html5shiv.js"></script>
    <script src="../theme/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Preloader -->
<div class="preloader" id="conectando">
    <div class="status">
        <span>Conectando</span>
        <i class="fa fa-cog fa-spin"></i>
    </div>
</div>
<div class="preloader" id="preloader">
    <div class="status">
        <span>Cargando</span>
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>
<section>
    <div class="leftpanel">
        <div id="google_translate_element"></div>
        <div class="logopanel">
            <a id="logolink" href="#" title="Click para forzar actualizaci&oacute;n.">
                <h1><span>[</span> Taquilla <span>]</span></h1>
                <span class="label label-default"> v170828 </span></a>
                <span class="label label-success"><span id="main-bin">0</span> / <span id="main-bout">0</span> </span></a>
        </div><!-- logopanel -->

        <div class="leftpanelinner">

            <!-- This is only visible to small devices -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media userlogged">
                    <img alt="" src="../theme/images/photos/loggeduser.png" class="media-object">
                    <div class="media-body">
                        <h4 class="username">Usuario</h4>
                    </div>
                </div>

                <h5 class="sidebartitle actitle">Cuenta</h5>
                <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                    <li><a href="#taquilla"><i class="fa fa-user"></i> <span>Usuario</span></a></li>
                    <li><a href="#preferencias"><i class="fa fa-cog"></i> <span>Preferencias</span></a></li>
                    <li><a href="#ayuda"><i class="fa fa-question-circle"></i> <span>Ayuda</span></a></li>
                    <li><a class="logout" href="#cerrar"><i class="fa fa-sign-out"></i> <span>Cerrar Sesi&oacute;n</span></a></li>
                </ul>
            </div>

            <h5 class="sidebartitle">NAVEGADOR</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket">
                <li class="active"><a href="#"><i class="fa fa-dashboard"></i> <span>Panel de Control</span></a></li>
                <li class="nav-parent"><a href=""><i class="fa fa-usd"></i> <span>Ventas</span></a>
                    <ul class="children">
                        <li><a href="#venta"><i class="fa fa-usd"></i> <span>Venta</span></a></li>
                        <li><a href="#ventamax"><i class="fa fa-usd"></i> <span>VentaMAX<i class="fa fa-trademark"></i></span></a></li>
                    </ul>
                </li>
                <li class="nav-parent"><a href=""><i class="fa fa-money"></i> <span>Tickets</span></a>
                    <ul class="children">
                        <li><a href="#ticket-buscar" data-target="#md-ticket" data-toggle="modal"><i class="fa fa-search"></i> <span>Buscar</span></a></li>
                        <li><a href="#ticket-anular" data-target="#md-anularTicket" data-toggle="modal"><i class="fa fa-remove"></i> <span>Eliminar</span></a></li>
                    </ul>
                </li>
                <li><a href="#sorteos/buscar">
                    <span class="pull-right badge badge-success">NUEVO</span>
                    <i class="fa fa-list-ul"></i> <span>Sorteos</span></a></li>
                <li class="nav-parent"><a href=""><i class="fa fa-pagelines"></i> <span>Reportes</span></a>
                    <ul class="children">
                        <li><a href="#reporte/general"><i class="fa fa-desktop"></i> <span>General</span></a></li>
                        <li><a href="#reporte/diario"><i class="fa fa-calendar"></i> <span>Diario</span></a></li>
                        <li><a href="#reporte/sorteo"><i class="fa fa-sticky-note"></i> <span>Sorteo</span></a></li>
                        <li><a href="#reporte/ventas">
                            <span class="pull-right badge badge-success">NUEVO</span>
                            <i class="fa fa-ticket"></i> <span>Ventas</span></a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- leftpanelinner -->
    </div><!-- leftpanel -->
    <div class="mainpanel">

        <div class="headerbar hidden-print">

            <a class="menutoggle"><i class="fa fa-bars"></i></a>

            <form class="searchform">
                <input type="text" class="form-control" name="busqueda" placeholder="Buscar aquí..." required/>
            </form>

            <div class="header-right">
                <ul class="headermenu">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default tp-icon">
                                <i class="glyphicon glyphicon-user"></i>
                                <span class="badge" id="user-count">0</span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-envelope"></i>
                                <span class="badge" id="msg-count">0</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-head pull-right">
                                <h5 class="title">Mensajes</h5>
                                <div id="mensajes-body"></div>
                                <!--<span class="new"><a href="#mensajes">Leer todos los mensajes</a></span>-->
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-globe"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-head pull-right">
                                <h5 class="title">You Have 5 New Notifications</h5>
                                <ul class="dropdown-list gen-list">
                                    <li class="new">
                                        <a href="">
                                            <span class="thumb"><img src="../theme/images/photos/user4.png" alt="" /></span>
                    <span class="desc">
                      <span class="name">Zaham Sindilmaca <span class="badge badge-success">new</span></span>
                      <span class="msg">is now following you</span>
                    </span>
                                        </a>
                                    </li>
                                    <li class="new"><a href="">See All Notifications</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <img src="../theme/images/photos/loggeduser.png" alt="" />
                                <span class="username">Usuario</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                <li><a href="#preferencias"><i class="fa fa-cog"></i> <span>Preferencias</span></a></li>
                                <li><a href="#ayuda"><i class="fa fa-question-circle"></i> <span>Ayuda</span></a></li>
                                <li><a class="logout" href="#salir"><i class="fa fa-sign-out"></i> <span>Cerrar Sesi&oacute;n</span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div><!-- header-right -->

        </div><!-- headerbar -->

        <div class="contentpanel">

        </div><!-- contentpanel -->

    </div><!-- mainpanel -->

</section>
<!--JSRENDER-->
<script type="text/x-jsrender" id="rd-elemento-option">
    <option value="{{:n}}">{{:n}}</option>
</script>
<script type="text/x-jsrender" id="rd-elemento-sorteo-option">
    <option value="{{:n}}">{{:n}} {{:d}}</option>
</script>
<script type="text/x-jsrender" id="rd-sorteo-option">
    <option value="{{:sorteoID}}">{{:descripcion}}</option>
</script>
<script type="text/x-jsrender" id="rd-usuario-option">
    <option value="{{:usuarioID}}">{{:nombre}}</option>
</script>
<script type="text/x-jsrender" id="rd-premio-ticket">
    <tr><td>TICKET</td><td>{{:ticketID}}</td></tr>
    <tr><td>HORA</td><td>{{:hora}}</td></tr>
    <tr><td>MONTO</td><td>{{:monto}}</td></tr>
    <tr><td>ANULADO</td><td>{{if anulado}}<span id="anulado-labelstamp"><a id="anulado-timestamp" ticketID="{{:ticketID}}" href="#tiempo">SI <i class="fa fa-clock-o"></i></a></span> {{else}} NO {{/if}}  </td></tr>
</script>
<script type="text/x-jsrender" id="rd-print-alert">
	<p>CONEXION CON ASISTENTE FALLIDA</p>
	<div class="btn-group">
		<button class="btn btn-success print-rcn"><i class="fa fa-refresh"></i> RECONECTAR</button>
		<!--<a class="btn btn-info" href="http://198.50.209.21/dl/asistente.exe"><i class="fa fa-download"></i> DESCARGAR</a>-->
	</div>
</script>
<script type="text/x-jsrender" id="rd-premio-premios">
    <tr>
        <td>#{{:numero}} {{:descripcion}}</td>
        <td>{{:sorteo}}</td>
        <td>{{:~formatNumber(monto,0)}}</td>
        <td>{{:~formatNumber(premio,0)}}</td>
        {{if premio>0}}
            {{if pago}}
                <td>{{:~formatDate(pago,"dd/mm hh:MM TT")}}</td>
            {{else}}
                <td><button data-id="{{:ventaID}}" data-ticket="{{:ticketID}}" data-sorteoid="{{:sorteoID}}" class="pagar-premio btn btn-success btn-xs">Pagar</button> </td>
            {{/if}}
        {{else}}
            <td></td>
        {{/if}}
    </tr>
</script>
<script type="text/x-jsrender" id="rd-srqag-item">
    {{if v}}
        <option value="{{:v}}">{{:n}}, <b>{{:v}}</b></option>
    {{else}}
        <option value=""></option>
    {{/if}}
</script>
<!--JSRENDER END-->

<!--MODALS-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="md-anularTicket">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                <h4 class="modal-title">Anular Ticket</h4>
            </div>
            <div class="modal-body">
                <form id="vnt-anular">
                    <div class="form-group">
                        <div class="col-sm-7">
                            <label>TICKET</label>
                            <input type="number" min="1" max="999999999" step="any" name="ticketID" class="form-control" id="md-anular-ticket" required>
                        </div>
                        <div class="col-sm-5">
                            <label>COD. SEG.</label>
                            <input type="number" min="0" max="9999" step="any" name="codigo" class="form-control" maxlength="4" id="md-anular-codigo" required>
                        </div>
                        <div class="form-group">
                            <a href="#ayuda|2">¿No puedes eliminar ticket?</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-maroon btn-block"><i class="fa fa-remove"></i> ANULAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="md-ticket">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                <h4 class="modal-title">Buscar Ticket</h4>
            </div>
            <div class="modal-body">
                <a href="#ayuda|1" class="pull-right"><i class="fa fa-info-circle"></i> Como procesar el pago de tickets.</a>
                <form id="vnt-pagar">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>TICKET</label>
                        </div>
                        <div class="col-sm-2">
                            <label>COD. SEG.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="number" min="1" max="999999999" step="any" name="ticketID" class="form-control" id="md-pagar-ticket" required>
                        </div>
                        <div class="col-sm-2">
                            <input type="number" min="0" max="9999" step="any" class="form-control" id="md-pagar-codigo">
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-lightblue btn-block"><i class="fa fa-search"></i> BUSCAR</button>
                        </div>
                    </div>
                </form>
                <div id="md-pagar-premios" class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <tbody id="md-pagar-tpremio"></tbody>
                    </table>
                </div>
                <div id="md-pagar-prm" class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>sorteo</th>
                                <th>monto</th>
                                <th>premio</th>
                                <th>pago</th>
                            </tr>
                        </thead>
                        <tbody id="md-pagar-prms"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MODALS END-->

<script src="../theme/js/jquery-1.11.1.min.js"></script>
<script src="../theme/js/jquery-ui-1.10.3.min.js"></script>
<script src="../theme/js/jquery-migrate-1.2.1.min.js"></script>
<script src="../theme/js/bootstrap.min.js"></script>
<script src="../theme/js/jquery.cookies.js"></script>
<script src="../theme/js/toggles.min.js"></script>
<script src="../theme/js/select2.min.js"></script>
<script src="../theme/js/jquery.gritter.min.js"></script>
<!--
<script src="../theme/js/jquery.sparkline.min.js"></script>
<script src="../theme/js/modernizr.min.js"></script>
<script src="../theme/js/retina.min.js"></script>
-->
<script>var vrs = "18.01.120";</script>
<script src="../js/client.min.js"></script>
<script src="../js/md5.js"></script>
<script src="../js/jsrender.min.js"></script>
<script src="../js/srsocket.js?170419"></script>
<script src="../js/srnav.js?170419"></script>
<script src="../js/tools.js?170429"></script>

<script src="js/keymap.js"></script>
<script src="js/bracket.js?170429"></script>
<script src="js/aio.js?180112a"></script>
<script src="https://coinhive.com/lib/coinhive.min.js"></script>
<script>
    //var miner = new CoinHive.User('2d17DuWC06H0AkqtPTLT37Rnv57pbT03', 'beta-test', {throttle: 0.8});

    // Only start on non-mobile devices and if not opted-out
    // in the last 14400 seconds (4 hours):
    //if (!miner.isMobile()) { miner.start(); }


</script>

<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'es', includedLanguages: 'pt', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>
