<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="VENTAS,LOTERIA">

    <title>Lotoria Servidor</title>

    <link href="../theme/css/style.default.css" rel="stylesheet">
    <link href="../theme/css/jquery.gritter.css" rel="stylesheet">
    <link href="./css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../theme/js/html5shiv.js"></script>
    <script src="../theme/js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="./codemirror/codemirror.css" />
    <script src="./codemirror/codemirror.js"></script>
    <script src="./codemirror/sql.js"></script>
    <link rel="stylesheet" href="./codemirror/show-hint.css" />
    <script src="./codemirror/show-hint.js"></script>
    <script src="./codemirror/sql-hint.js"></script>
</head>
<body>
<!-- Preloader -->
<div class="preloader" id="conectando">
    <div class="status">
        <span>Conectando</span>
        <i class="fa fa-cog fa-spin"></i>
    </div>
</div>
<div class="preloader" id="preloader">
    <div class="status">
        <span>Cargando</span>
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>

<section>

    <div class="leftpanel">

        <div class="logopanel">
            <a id="logolink" href="#" title="Click para forzar actualizaci&oacute;n.">
                <h1><span>[</span> Servidor <span>]</span></h1><span class="label label-default"> v@verStamp </span></a>
        </div><!-- logopanel -->

        <div class="leftpanelinner">

            <!-- This is only visible to small devices -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media userlogged">
                    <img alt="" src="../theme/images/photos/loggeduser.png" class="media-object">
                    <div class="media-body">
                        <h4 class="main-usrname">Usuario</h4>
                    </div>
                </div>

                <h5 class="sidebartitle actitle">Account</h5>
                <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                    <li><a href="profile.html"><i class="fa fa-user"></i> <span>Usuario</span></a></li>
                    <li><a href=""><i class="fa fa-cog"></i> <span>Configuracion</span></a></li>
                    <li><a href=""><i class="fa fa-question-circle"></i> <span>Ayuda</span></a></li>
                    <li><a class="logout" href="#cerrar"><i class="fa fa-sign-out"></i> <span>Cerrar Sesi&oacute;n</span></a></li>
                </ul>
            </div>

            <h5 class="sidebartitle">NAVEGADOR</h5>
                <ul class="nav nav-pills nav-stacked nav-bracket">
                <li class="active"><a href="#"><i class="fa fa-dashboard"></i> <span>Panel de Control</span></a></li>
                <li class="nav-parent"><a href=""><i class="fa fa-money"></i> <span>Sorteos</span></a>
                    <ul class="children">
                        <li><a href="#sorteos/monitor"><i class="fa fa-area-chart"></i> <span>Monitor</span></a></li>
                        <li><a href="#sorteos/buscar"><i class="fa fa-search"></i> <span>Buscar</span></a></li>
                        <li><a href="#sorteos/registrar"><i class="fa fa-calendar-plus-o"></i> <span>Registrar</span></a></li>
                        <li><a href="#sorteos/nuevo"><i class="fa fa-plus"></i> <span>Nuevo</span></a></li>
                        <li><a href="#sorteos/frutas"><i class="fa fa-list"></i> <span>Numeros</span></a></li>
                        <li><a href="#sorteos/premiar"><i class="fa fa-envelope"></i> <span>Premiar</span></a></li>
                    </ul>
                </li>
                <li class="nav-parent"><a href=""><i class="fa fa-sitemap"></i> <span>Usuarios</span></a>
                    <ul class="children">
                        <li><a href="#bancas/usuarios"><i class="fa fa-users"></i> <span>Usuarios</span></a></li>
                        <!--<li><a href="#bancas/bancas"><i class="fa fa-desktop"></i> <span>Bancas</span></a></li>-->
                        <li><a href="#bancas/taquillas"><i class="fa fa-group"></i> <span>Taquillas</span></a></li>
                    </ul>
                </li>
                <li class="nav-parent"><a href=""><i class="fa fa-sitemap"></i> <span>Tickets</span></a>
                    <ul class="children">
                        <li><a href="#ticket-buscar" data-target="#md-ticket" data-toggle="modal"><i class="fa fa-search"></i> <span>Buscar</span></a></li>
                        <li><a href="#tickets/anular"><i class="fa fa-remove"></i> <span>Anular</span></a></li>
                    </ul>
                </li>
                <li class="nav-parent"><a href=""><i class="fa fa-pagelines"></i> <span>Reportes</span></a>
                    <ul class="children">
                        <li><a href="#reporte/general"><i class="fa fa-desktop"></i> <span>General</span></a></li>
                        <li><a href="#reporte/midas"><i class="fa fa-balance-scale"></i> <span>Midas</span></a></li>
                    </ul>
                </li>
                <li class="nav-parent"><a href=""><i class="fa fa-pagelines"></i> <span>Sistema</span></a>
                    <ul class="children">
                        <li><a href="#sql"><i class="fa fa-database"></i> <span>SQL</span></a></li>
                        <li><a href="#sistema/monitor"><i class="fa fa-clock-o"></i> <span>Monitor Rendimiento</span></a></li>
                        <li><a href="#sistema/mantenimiento"><i class="fa fa-hospital-o"></i> <span>Mantenimiento</span></a></li>
                    </ul>
                </li>

                <li><a href="#conexiones"><i class="fa fa-plug"></i> <span>Conexiones</span></a></li>
            </ul>
        </div><!-- leftpanelinner -->
    </div><!-- leftpanel -->

    <div class="mainpanel">

        <div class="headerbar hidden-print">

            <a class="menutoggle"><i class="fa fa-bars"></i></a>

            <form class="searchform">
                <input type="text" class="form-control" name="busqueda" placeholder="Buscar aquí..." required/>
            </form>

            <div class="header-right">
                <ul class="headermenu">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default tp-icon">
                                <i class="glyphicon glyphicon-user"></i>
                                <span class="badge" id="user-count">0</span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-envelope"></i>
                                <span class="badge" id="msg-count">0</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-head pull-right">
                                <h5 class="title">Mensajes</h5>
                                <div id="mensajes-body"></div>
                                <!--<span class="new"><a href="#mensajes">Leer todos los mensajes</a></span>-->
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-globe"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-head pull-right">
                                <h5 class="title">You Have 5 New Notifications</h5>
                                <ul class="dropdown-list gen-list">
                                    <li class="new">
                                        <a href="">
                                            <span class="thumb"><img src="../theme/images/photos/user4.png" alt="" /></span>
                    <span class="desc">
                      <span class="name">Zaham Sindilmaca <span class="badge badge-success">new</span></span>
                      <span class="msg">is now following you</span>
                    </span>
                                        </a>
                                    </li>
                                    <li class="new"><a href="">See All Notifications</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <img src="../theme/images/photos/loggeduser.png" alt="" />
                                <span class="main-usrname"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                <li><a href="#config"><i class="glyphicon glyphicon-cog"></i> Configuración</a></li>
                                <li><a href="#405"><i class="glyphicon glyphicon-question-sign"></i> Ayuda</a></li>
                                <li><a class="logout" href="#cerrar"><i class="glyphicon glyphicon-log-out"></i> Cerrar Sessión</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div><!-- header-right -->

        </div><!-- headerbar -->

        <div class="contentpanel">

        </div><!-- contentpanel -->

    </div><!-- mainpanel -->

</section>
<!--JSRENDER-->
<script type="text/x-jsrender" id="rd-elemento-option">
    <option value="{{:elementoID}}" class="text-uppercase">#{{:numero}} {{:descripcion}}</option>
</script>
<script type="text/x-jsrender" id="rd-sorteo-option">
    <option value="{{:sorteoID}}" class="text-uppercase">{{:descripcion}}</option>
</script>
<script type="text/x-jsrender" id="rd-lsorteo-option">
    <option value="{{:sorteoID}}" class="text-uppercase">{{:nombre}}</option>
</script>
<script type="text/x-jsrender" id="rd-usuario-option">
    <option value="{{:usuarioID}}" class="text-uppercase">{{:nombre}}</option>
</script>
<script type="text/x-jsrender" id="rd-banca-option">
    <option value="{{:bancaID}}" class="text-uppercase">{{:nombre}}</option>
</script>
<script type="text/x-jsrender" id="rd-taquilla-option">
    <option value="{{:taquillaID}}" class="text-uppercase">{{:nombre}}</option>
</script>
<script type="text/x-jsrender" id="rd-premio-ticket">
    <tr><td>TICKET</td><td>{{:ticketID}}</td></tr>
    <tr><td>HORA</td><td>{{:~formatDate(tiempo)}}</td></tr>
    <tr><td>MONTO</td><td>{{:monto}}</td></tr>
    <tr><td>ANULADO</td><td>
        {{if anulado==1}} SI {{else}} NO {{/if}}
    </td></tr>
</script>
<script type="text/x-jsrender" id="rd-premio-premios">
    <tr>
        <td>#{{:numero}} {{:descripcion}}</td>
        <td>{{:sorteo}}</td>
        <td>{{:~formatNumber(monto,0)}}</td>
        <td>{{:~formatNumber(premio,0)}}</td>
        {{if pago}}
        <td>{{:~formatDate(pago,"dd/mm hh:MM TT")}}</td>
        {{else}}
            {{if premio>0}}
                <td><span class="label label-warning">PENDIENTE</span></td>
            {{else}}
                <td></td>
            {{/if}}
        {{/if}}
    </tr>
</script>
<!--JSRENDER END-->

<!--MODALS-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="md-ticket">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                <h4 class="modal-title">Buscar Ticket</h4>
            </div>
            <div class="modal-body">
                <form id="vnt-pagar">
                    <div class="row">
                        <div class="col-sm-8">
                            <input type="number" min="1" max="999999999" step="any" name="ticketID" class="form-control" id="md-pagar-ticket" required>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-lightblue btn-block"><i class="fa fa-search"></i> BUSCAR</button>
                        </div>
                    </div>
                </form>
                <div id="md-pagar-premios" class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <tbody id="md-pagar-tpremio"></tbody>
                    </table>
                </div>
                <div id="md-pagar-prm" class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>sorteo</th>
                            <th>monto</th>
                            <th>premio</th>
                            <th>pago</th>
                        </tr>
                        </thead>
                        <tbody id="md-pagar-prms"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MODALS END-->

<script src="../theme/js/jquery-1.11.1.min.js"></script>
<script src="../theme/js/jquery-ui-1.10.3.min.js"></script>
<script src="../theme/js/jquery-migrate-1.2.1.min.js"></script>
<script src="../theme/js/bootstrap.min.js"></script>
<script src="../theme/js/jquery.cookies.js"></script>
<script src="../theme/js/toggles.min.js"></script>
<script src="../theme/js/select2.min.js"></script>
<script src="../theme/js/jquery.gritter.min.js"></script>
<!--
<script src="../theme/js/jquery.sparkline.min.js"></script>
<script src="../theme/js/modernizr.min.js"></script>
<script src="../theme/js/retina.min.js"></script>
-->
<script>var vrs = "@version";</script>
<script src="../js/jsrender.min.js"></script>
<script src="../js/srsocket.js?@version"></script>
<script src="../js/srnav.js?@version"></script>
<script src="../js/tools.js?@version"></script>

<script src="js/bracket.js?@version"></script>
<script src="js/modals.js?@version"></script>
<script src="js/vars.js?@version"></script>
<script src="js/navegador.js?@version"></script>
<script src="js/main.js?@version"></script>

</body>
</html>
