<div class="pageheader hidden-xs">
    <h2><i class="fa fa-area-chart"></i> Reporte Cobros</h2>
</div>
<div class="panel">
    <div class="panel-body">
        <form class="form-horizontal" id="reporte">
            <div class="form-group">
                <label class="col-sm-3 control-label">Fecha</label>
                <div class="col-sm-3">
                    <input class="date now form-control" onfocus="blur()" id="reporte-fecha1" name="inicio">
                </div>
                <div class="col-sm-3">
                    <input class="date now form-control" onfocus="blur()" id="reporte-fecha2" name="fin">
                </div>
                <div class="help-block" id="reporte-hlp"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Agrupar</label>
                <div class="col-sm-6">
                    <select class="s2 form-control" id="rp-agrupar">
                        <option value="2">BANCAS</option>
                        <option value="1">FECHA</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <button type="submit" class="btn btn-darkblue btn-block"><i class="fa fa-search"></i> BUSCAR</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="panel panel-success panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-8">
                            <small class="stat-label">Jugado</small>
                            <h1 id="mnt-jugado" class="clr">--</h1>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">Premios</small>
                            <h4 id="mnt-premios" class="clr">--</h4>
                        </div>
                    </div><!-- row -->
                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->

    <div class="col-sm-4 col-md-4">
        <div class="panel panel-danger panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-12">
                            <small class="stat-label">MAYOR VENTA</small>
                            <h2 id="tj-banca" class="clr">--</h2>
                        </div>
                    </div><!-- row -->

                    <div class="mb15"></div>

                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">Jugado</small>
                            <h4 id="tj-jugada" class="clr">--</h4>
                        </div>
                    </div><!-- row -->

                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->

    <div class="col-sm-4 col-md-4">
        <div class="panel panel-primary panel-stat">
            <div class="panel-heading">

                <div class="stat">
                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">Total a Recaudar</small>
                            <h2 id="recaudo" class="clr">--</h2>
                        </div>
                    </div><!-- row -->
                    <div class="mb15"></div>
                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stat-label">Renta</small>
                            <h4 id="trenta" class="clr">--</h4>
                        </div>
                    </div><!-- row -->
                </div><!-- stat -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->
</div>
<div class="panel">
    <div class="panel-body">
        <div class="table-responsive">
            <table id="tb" class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th></th>
                    <th><a href="#" id="rtp-desc-o">FECHA / BANCA</a> </th>
                    <th>JUGADO</th>
                    <th>% COMISION</th>
                    <th>RENTA</th>
                </tr>
                </thead>
                <tbody id="reporte-body"></tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
            <div class="col-md-3">
                <button id="cbr-procesar" class="btn btn-darkblue btn-block"><i class="fa fa-paypal"></i> PROCESAR TODO</button>
            </div>
            <div class="col-md-3">
                <input type="number" id="minValor" class="form-control" placeholder="Cobro Minimo" >
            </div>
    </div>
</div>
<script type="text/x-jsrender" id="rd-reporte">
    {{if gID}}
    <tr id="rdg{{:gID}}" class="rc-grrow subrow{{:uID}} hidden">
    <td>
        <a class="cbr-shutdown grupo" grupo="{{:gID}}" href="#{{:gID}}"><i class="fa fa-power-off text-danger"></i></a>
        {{if cm>0}}<a id="rbg{{:gID}}" class="cbr-bal" desc="V:{{:~formatNumber(jg)}}, C:{{:~abs(cm*100)}}" usID="g{{:gID}}" monto="{{:(jg*cm)}}" href="#"><i class="fa fa-paypal text-success"></i></a>{{/if}}
        <a href="#bancas/grupo|{{:gID}}"><i class="fa fa-user text-success"></i></a>
    {{else uID}}
    <tr id="rdu{{:uID}}" class="rc-usrow">
    <td>
        <a class="cbr-shutdown banca" banca="{{:uID}}" href="#{{:uID}}"><i class="fa fa-power-off text-danger"></i></a>
        {{if cm>0}}<a id="rbu{{:uID}}" class="cbr-bal" desc="V:{{:~formatNumber(jg)}}, C:{{:~abs(cm*100)}}" usID="u{{:uID}}" monto="{{:(jg*cm)}}" href="#"><i class="fa fa-paypal text-primary"></i></a>{{/if}}
        <a href="#bancas/banca|{{:uID}}"><i class="fa fa-user"></i></a>
    {{else}}
    <tr>
    {{/if}}
        </td>
        <td class="text-uppercase rpdesc">
            {{if !gID}}
            <a fld="0" fldid="{{:uID}}" class="cbr-folder" href="#"><i id="cbrfi{{:uID}}" style="color:darkgrey;" class="fa fa-folder-o"></i></a>
            {{/if}}
            <!--<a href="#reporte/cobros-banca|{{:uID}}{{:~rgFiltro()}}">{{:desc}}</a>-->
            <a href="javascript:">{{:desc}}</a>
        </td>
        <td>{{:~formatNumber(jg,2)}}</td>
        <td>{{:~formatNumber(cm*100,1)}}</td>
        <td id="rnt{{:uID}}">{{:~formatNumber(jg*cm,2)}}</td>
    </tr>
</script>